<header>
    <nav class="navbar navbar-toggleable-md navbar-nav navbar-inverse bg-inverse" role="navigation">
        <div class="container">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a href="/" class="navbar-brand">Tunr Music App</a>
        <div class="collapse navbar-collapse">
        <ul class="navbar-nav">
            <li class="nav-item"><a href="/" class="nav-link">Home</a></li>
            <li class="nav-item"><a href="/artists/add" class="nav-link">Add New Artist or Band</a></li>
        </ul>
        </div>
        </div>
    </nav>
</header>
