<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{{#if title}}{{title}}{{else}}Turnr Music App{{/if}}</title>
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body>
        {{!-- header --}}
        {{> header }}


        <main>
        {{!-- main content --}}
        {{{body}}}
        </main>

        {{!-- footer --}}
        {{> footer }}

    </body>
</html>
